*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding-top: 92px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 95px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 82px;
}
