/*Шапка*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items:center;
  padding-top: 92px;
  padding-right: 50px;
  padding-bottom: 96px;
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  gap: 32px; 
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

 .header__links-list-item:first-child {
   list-style: none;
 }

.header__logo-image {
  display: flex;
  width: 148px;
  height: 105px;
}

address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  max-width: 238px;
}

/*Отсюда начинатеся первая страница*/

.cover {
  position: relative;
  min-height: 757px;
}

.background-img {
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg); 
  background-position: center;
  background-size: cover; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  z-index: 1;
  padding-left: 50px;
  color: white;
}

.aligned-text_center {
  z-index: 1;
  padding-top: 20px;
  padding-left: 380.5px;
  color: white;
}

.aligned-text_right {
  z-index: 1;
  padding-top: 20px;
  padding-left: 663px;
  color: white;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
}

.cover__description-text {
  z-index: 1;
  padding-top: 118px;
  color: white;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  white-space: nowrap;
}

.bet-button {
  z-index: 1;
  width: 256px;
  min-height: 50px;
  margin-top: 106px;
  border: 1px solid white;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 11px;
  padding-left: 31px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}

/*вторая страница лоты */

.lots__heading {
  margin-top: 180px;
  padding-bottom: 27px;
  padding-left: 64px;
  color: black;
  font-size: 40px;
  line-height: 120%;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  padding-right: 24px;
  padding-left: 24px;
  list-style: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: white;
  font-size: 20px;
}

.lots__look-more-link {
  display: block;
  padding-top: 30px;
  padding-left: 64px;
  color: #000;
  font-size: 20px;
  text-underline-offset: 3.5px;
}

/* треться страница*/

.about__column {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-top: 155px;
  padding-right: 24px;
  padding-bottom: 181px;
  padding-left: 71px;
}

.about__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 101px;
  padding-bottom: 100px;
  padding-left: 72px;
  font-weight: 700;
  font-size: 40px;
}

.about__text {
  display: grid;
  grid-column: 2;
  gap: 24px;
  min-width: 693px;
  padding-left: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/*подвал*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 82px;
}

.footer__address {
  max-width: 300px;
  padding-left: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  padding-right: 50px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

